DI-engine>=0.5.3
gymnasium[atari]==0.28.0
numpy>=1.24.1,<2
pympler
minigrid
moviepy
pytest
line_profiler
xxhash
einops
openai
nltk
tkinter
protobuf==3.20.0
torch-geometric>=2.3.0
torch-scatter>=2.1.0
torch-sparse>=0.6.17
torch-cluster>=1.6.0